@{
	ViewData["Title"] = "Student Info";
}
@model List<DbTable>

<h1>Student Info</h1>

<table class="table  table-bordered table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Lastname</th>
			<th>age</th>
		</tr>
	</thead>
	<tbody>
		@foreach(DbTable info in Model){
			<tr>
				<td>@info.Id</td>
				<td>@info.Name</td>
				<td>@info.Lastname</td>
				<td>@info.age</td>
			</tr>
		}
	</tbody>
</table>